@model LoginViewModel

@{ 

}

    <form asp-controller="Auth" asp-action="Login" method="post">
        <div>
            <label>UserName</label>
            <input asp-for="UserName" />
        </div>
        <div>
            <label>PassWord</label>
            <input asp-for="PassWord" />
        </div>
        <input type="submit" value="Sign In"/>
    </form>