@model IEnumerable<Post>

@{ 
    ViewBag.Title = "Blog WebSite";
    ViewBag.Description = "This Blog has everything!!";
    ViewBag.Keywords = "CC's personal Blog";
    var base_path = Context.Request.PathBase;
}

<div class="main-img">
    <span class="title">
        CC's Blog
    </span>
</div>
<div class="container">
        @foreach (var post in Model)
        {
            var image_path = $"{base_path}/Image/{post.Image}";
            <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@image_path"/>
                <span class="title">@post.Title</span>
            </a>
        }
</div>